h4 {
  font-size: 12px;
  color: rgb(24, 23, 23);
  font-family: cursive;
  position: absolute;
  right: 32rem;
  top: 2.5rem;
}
.msg_font {
  font-size: 15px;
}

/* ---------------Tab and iPad view----------- */
@media (min-width: 769px) and (max-width: 1056px) {
  h4 {
    font-size: 13px;
    right: 18rem;
    top: 2rem;
  }
  .msg_font {
    font-size: 15px;
  }
}

/*--------------------mobile view----------*/
@media (max-width: 768px) {
  h4 {
    font-size: 11px;
    right: 5rem;
    top: 1.8rem;
  }
  .msg_font {
    font-size: 12px;
  }
}
