header {
  background: #f5ba13;
  padding: 16px 32px;
  margin: auto -16px;
  box-shadow: 0 0 10px blue;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  flex-direction: row;
}

header h1 {
  /* text-align: center; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  color: white;
  /* display: inline-block;
  position: relative; */
}

.header_logo {
  width: 60px;
  height: 50px;
  border-radius: 30%;
  float: left;
  margin-top: 10px;
  margin-right: 4px;
  padding: 0 6px;
  margin-left: -25px; /*shifted logo to left side */
}
/*---------------Tab/iPad--------------------*/

@media (min-width: 769px) and (max-width: 1056px) {
  header h1 {
    font-size: 40px;
  }

  .header_logo {
    width: 40px;
    height: 30px;
    border-radius: 40%;
    float: left;
    margin-top: 6px;
    margin-right: 2px;
    padding: 0 5px;
  }
}
/* ----------------for mobile----------*/
@media (max-width: 768px) {
  header h1 {
    font-size: 30px;
    margin-top: 4px;
  }

  .header_logo {
    width: 40px;
    height: 30px;
    border-radius: 40%;
    float: left;
    margin-top: 4px;
    margin-right: 2px;
    padding: 0 5px;
  }
}
